{% extends "layout.html" %}
{% block content %}
<div class="container">
    <br>
    <br>
    <h2>About Us</h2>
    <p>
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi iure ratione et ipsam commodi eaque repellendus 
    cupiditate vel architecto perferendis, esse nulla! Dolor at, nemo illo nihil voluptatem odio officiis obcaecati 
    explicabo temporibus laborum voluptas quasi distinctio sunt quis provident mollitia quaerat pariatur beatae quos 
    eum numquam! Dolorem pariatur eius repellendus, veritatis ratione rerum nostrum! Perferendis, sit? Dicta, 
    nulla corporis veniam hic nostrum consequatur. Nihil esse unde harum architecto obcaecati adipisci laudantium
    <br>
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi iure ratione et ipsam commodi eaque repellendus 
    cupiditate vel architecto perferendis, esse nulla! Dolor at, nemo illo nihil voluptatem odio officiis obcaecati 
    explicabo temporibus laborum voluptas quasi distinctio sunt quis provident mollitia quaerat pariatur beatae quos 
    eum numquam! Dolorem pariatur eius repellendus, veritatis ratione rerum nostrum! Perferendis, sit? Dicta, 
    nulla corporis veniam hic nostrum consequatur. Nihil esse unde harum architecto obcaecati adipisci laudantium
    <br>
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi iure ratione et ipsam commodi eaque repellendus 
    cupiditate vel architecto perferendis, esse nulla! Dolor at, nemo illo nihil voluptatem odio officiis obcaecati 
    explicabo temporibus laborum voluptas quasi distinctio sunt quis provident mollitia quaerat pariatur beatae quos 
    eum numquam! Dolorem pariatur eius repellendus, veritatis ratione rerum nostrum! Perferendis, sit? Dicta, 
    nulla corporis veniam hic nostrum consequatur. Nihil esse unde harum architecto obcaecati adipisci laudantium
    </p>
    <br>

    <h2>Creators</h2>
    <div class="creators">
        <br>
        <div class="links">
        Samatva Kasat <a href="github.com/samkas125"><img src="{{ url_for('static', filename='logos/github-icon.svg')}}"></a> <a href="https://www.linkedin.com/in/samatva/"><img src="{{ url_for('static', filename='logos/linkedin-icon.svg')}}" width="24" height="24"></a>
        <br>
        Yash Goyal <a href="github.com/ycatsh"><img src="{{ url_for('static', filename='logos/github-icon.svg')}}"></a> <a href="https://www.linkedin.com/in/ysgoyal/"><img src="{{ url_for('static', filename='logos/linkedin-icon.svg')}}" width="24" height="24"></a>
        </div>
    </div>
</div>
{% endblock content %}