{% extends "layout.html" %}
{% block content %}
<div class="container">
    <br>
    <br>
    <br>
    <h2>About Us</h2>
    <p>
    Lexicon Legends is a 2 player PvP word game, powered by NLP and Flask. In our game, 2 players have a unique word duel, where one player eventually emerges victorious.
    <br>
    <br>
    To play the game, head over to 'create a game', where you can choose a unique code for your game. Share this code with the friend you wish to play with, allowing them to use the 'join a game' section to participate with you. Once both of you are in the game, you have to be quick! A random word is generated and a 30 second timer starts. You have to blitz out any words you think are related to the random generated word. After 30 seconds, you will not be able to enter any more words, and our powerful NLP models will decide which player's words are the closest to the randomly generated word. 
    <br>
    <br>
     Challenge your friends, and find out who is the best word wizard!
    </p>
    <br>
    <br>
    <h2>Creators</h2>
    <div class="creators">
        <div class="links">
        Samatva Kasat <a href="github.com/samkas125"><img src="{{ url_for('static', filename='logos/github-icon.svg')}}"></a> <a href="https://www.linkedin.com/in/samatva/"><img src="{{ url_for('static', filename='logos/linkedin-icon.svg')}}" width="24" height="24"></a>
        <br>
        Yash Goyal <a href="github.com/ycatsh"><img src="{{ url_for('static', filename='logos/github-icon.svg')}}"></a> <a href="https://www.linkedin.com/in/ysgoyal/"><img src="{{ url_for('static', filename='logos/linkedin-icon.svg')}}" width="24" height="24"></a>
        </div>
    </div>
</div>
{% endblock content %}