{% extends "layout.html" %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='game.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
    <script>
        const py_roomKey = '{{ room_key }}';
        const py_players = '{{ players }}';
        const py_currentUser = '{{ current_user.username }}';
    </script>
    <script src="../static/js/game.js"></script>
</head>
<div class="container">
    <div class="pixel-form-container" id="game-box">
        <div class="content-section pixel-form">
            <h6>game: {{ room_key }}</h6>
            <br>
            <h5>random word: <span style="color: #1ec83b">{{ word }}</span></h5>
            <br>
            <h5 id="timer" style="display: none">timer: 30s</h5>

            <input class="form-control form-control-sm" type="text" id="wordInput" placeholder=" Game Hasn't Started/Ended" disabled/>
            <button class="btn btn-primary btn-sm" id="submitWord">submit word </button>
            <script src="../static/js/enter.js"></script>
            <br>
            <h6 id="winner" style="display: none">winner: <span id="win" style="color: #209dce"></span></h6>
        </div>
    </div>

    <div class="pixel-form-container" id="word-box">
        <div class="content-section pixel-form">
            <table class="typed-words-table">
                <tbody id="typedWordsTable"></tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
