<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='layout.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='welcome.css') }}">
    <link rel="icon" type="image/x-icon" href="../static/logos/favicon.png?v=2224">
    <title>Lexicon Legends</title>
</head>

<body>
  <header>
    <nav class="nav-container">
      <ul class="nav-link-left">
        {% if current_user.is_authenticated %}
        <li><a class="nav-item nav-link" href="{{ url_for('play') }}">play</a></li>
        <li><a class="nav-item nav-link" href="{{ url_for('create') }}">create game</a></li>
        <li><a class="nav-item nav-link" href="{{ url_for('about') }}">about</a></li>
        {% else %}
        <li><a class="nav-item nav-link" href="{{ url_for('welcome') }}">lexicon legends</a></li>
        <li><a class="nav-item nav-link" href="{{ url_for('about') }}">about</a></li>
        {% endif %}
      </ul>
      
      <ul class="nav-link-right">
        {% if current_user.is_authenticated %}
        <li><a class="nav-item nav-link" href="{{ url_for('profile') }}">profile</a></li>
        <li><a class="nav-item nav-link" href="{{ url_for('signout') }}">sign out</a></li>
        {% else %}
        <li><a class="nav-item nav-link" href="{{ url_for('signin') }}">sign in </a></li>
        <li><a class="nav-item nav-link" href="{{ url_for('signup') }}">sign up</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>

<div class="welcome-text">
    <h1 class="welcome-title">Lexicon Legends</h1>
    <p class="welcome-subtitle">The <span style="color: #1ec83b">Ultimate Word PvP</span> Gaming Experience</p>
</div>
</body>