@import url('fonts.css'); 


.bg{
    background-color: #000000;
}

header{
    height: 70px;
}

.welcome-text {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 15%;
}

.welcome-text h1{
    font-family: 'Five Fonts at Freddy';
    color: #888888;
    font-size: 80px;
}

.welcome-text p{
    color: #414347;
    font-size: 24px;
}
  