@import url('fonts.css'); 

body{
    background-color: #FFFFFF;
    background-image: url('imgs/bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

.welcome-text {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 17%;
}

.welcome-text h1{
    font-family: "Archivo Black";
    color: #898d96;
    font-size: 80px;
}

.welcome-text p{
    color: #414347;
    font-size: 24px;
}